.body{
    background-color: rgba(127, 255, 212, 0.568);
    text-align: center;

}
.header{
    background-color: rgba(5, 107, 175, 0.61);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.header li{
    list-style: none;
    display: inline;
    padding: 10px;
    
}
.login-box{
    background-color: rgba(74, 184, 184, 0.089);
    width: 300px;
    height: 250px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
}
.login-form input{
    padding: 5px;
    border: 2;
    border-radius: 5px;
}
.register-box{
    background-color: rgba(74, 184, 184, 0.089);
    width: 300px;
    height: 300px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
}
.register-form input{
    padding: 5px;
    border: 2;
    border-radius: 5px;
}
.btn{
    padding: 8px;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgba(0, 162, 255, 0.274);
    padding: 10px;
}
.logo{
    background-color:white ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
nav a{
    text-decoration:none;
    color:black ;
    font-weight: bold;
}