.body{
    background-color: rgb(184, 177, 177);
    text-align: center;

}
.header{
    display: flex; justify-content:  space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    
}
.login-box{
    background-color: rgba(74, 184, 184, 0.089);
    width: 300px;
    height: 250px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
}
.login-form input{
    padding: 5px;
    border: 2;
    border-radius: 5px;
}
.register-box{
    background-color: rgba(74, 184, 184, 0.089);
    width: 300px;
    height: 300px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
}
.register-form input{
    padding: 5px;
    border: 2;
    border-radius: 5px;
}
.btn{
    padding: 8px;
    border-radius: 10px;
}
.btn:hover{
    background-color: rgba(0, 162, 255, 0.274);
    padding: 10px;
}
.logo{
    font-size: bolder;

}
.nav-box{
    gap: 20px;
    display: flex;
}
.nav-box a{
    text-decoration: none;
    color: rgb(100, 104, 103);
    transition: color 0.4s ease;
}
.nav-box a:hover{
    color: blueviolet;
}
.title{
    background-color:rgb(236, 228, 228) ;
    padding: 3px;
}
.search-bar{
display:flex;
justify-content: center ;
align-items:center;
margin-top: 20px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color:aliceblue;
    border-radius: 50px;
    border: 1px solid black;
    padding: 8px;
    width: 90%;
    max-width: 500px;
}
.search-icon{
    font-size: 15px;
    margin-left: 8px;
    color: black;
}
.search-box input{
    flex: 1;
    font-size: 15px;
    background-color: aliceblue;
    outline: none;
    border: none;
}
.searcg-by{
    border: none;
    background-color: aliceblue;
    font-size: 16px;
    color: black;
    margin-right: 15px;
    cursor:pointer;
    outline: nones;
}
.apartment{
    text-align: center;
    padding: 5px;
}
.apartment h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.apartment-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    align-items: stretch;
    justify-items: stretch;
    width: 100%;
}
@media screen and(max-width: 600px) {
    .apartment-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
}
.apartment-card{
    background-color: thistle;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}
.apartment-card:hover{
    transform: translateY(-5px);

}
.apartment-card h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: black;

}
.apartment-card p{
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}
.more{
    background-color: brown;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
    align-self: center;

}
.more:hover{
    background-color: black;
    color: wheat;
}
.footer{
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 15px;
    margin: top 10px;
    text-align: center;

}